body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ec2bec, #0b00a1);
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 450px;
    margin: 40px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
}

h2 {
    text-align: center;
    color: #333;
}

input, select {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #0077ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fd1;
}
